body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0377fc;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-box {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    width: 15%;
    height: 75px;
    position: fixed;
    bottom: 7%;
    border: 5px solid #0377fc;
    background-color: #e4e4e4;
}

/* position prompt */
.prompt-container {
    position: absolute;
    z-index: 2;
    background-color: #e4e4e4;
    border-radius: 15px;
}

.prompt-message {
    margin: -2% 0 0 0;
    font-size: 1.5em;
    text-align: center;
    padding: .5%;
    z-index: 2;
    width: 10%;
    background-color: #e4e4e4;
    border: 5px solid #0377fc;
}

#prompt-container {
    padding-right: 5%;
}

.controls {
    position: relative;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

.rotate {
    text-align: center;
    padding: 10%;
    border: 2px solid #0377fc;
    margin: 0 0 25% 0;
    cursor: pointer;
}

.rotate:hover {
    background-color: #0377fc21;
}

.position-display {
    text-align: center;
    border: 2px solid #0377fc;
    font-size: 1.5em;
    padding: 10%;
}

.position-display:hover {
    background-color: #0377fc21;
}

/* gameboards */

.master-container {
    display: flex;
    z-index: 1;
    width: 95%;
    justify-content: space-around;
}

.outer-board {
    display: flex;
    margin: auto;
    height: 800px;
    width: 825px;
    border: 5px solid #0377fc;
    border-radius: 15px;
    background-color: #0377fc18;
}

.letter-container {
    display: flex;
    width: 650px;
    margin: auto;
    position: relative;
    top: 4%;
}

.letter {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 1.5em;
}

.num-container {
    padding-top: 13%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 650px;
    width: 10%;
}

.num {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 1.5em;
}

.board {
    position: relative;
    top: 8%;
    display: flex;
    height: 650px;
    width: 650px;
    margin: auto;
    border: 1px solid #0377fc;
}

h1 {
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
}

.space {
    border: 1px solid #0377fc;
    width: 100%;
    height: 10%;
}

#miss {
    
    font-size: 2em;
}

.space:hover {
    background-color: #0377fc36;
}

@media only screen and (max-width: 600px) {
    body {
        width: max-content;
    }

    .master-container {
        flex-direction: column;
        width: 100%;
    }

    h1 {
        font-size: 3.25em;
    }

    .prompt-container {
        top: 25%;
    }

    .prompt-message {
        margin: -95% 0 0 0;
        width: 20%;
    }

    .message-box {
        bottom: 2%;
        left: 33%;
        width: 33%;
        align-self: center;

    }
}